.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-group-1 {width: 800px; min-height: 506px; background-image: none; margin: 60px auto}
.u-section-1 .u-container-layout-1 {padding: 40px 60px}
.u-section-1 .u-text-1 {font-weight: 800; margin: 0}
.u-section-1 .u-form-1 {height: 338px; margin: 30px -60px 0 0}
.u-section-1 .u-btn-1 {background-image: none; border-style: solid} 

@media (max-width: 1199px){ .u-section-1 .u-form-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-group-1 {min-height: 427px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-group-1 {min-height: 481px; width: auto; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-group-1 {min-height: 478px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-form-group-1 {width: 100%}
.u-section-1 .u-form-group-2 {width: 100%}
.u-section-1 .u-form-group-3 {width: 100%}
.u-section-1 .u-form-group-4 {width: 100%} }box-shadow: 20px 20px 50px #00d2c6, 
            -30px -30px 60px #00ffff;